@model IEnumerable<ProyectoDatosEF.Models.Plantilla>

@{
    ViewData["Title"] = "BuscarPlantillaFuncion";
}

<h1>Buscar Plantilla Funcion</h1>

<form method="post">
    <label>Introduzca una función: </label>
    <input type="text" name="funcion" class="form-control" required/>
    <button class="btn btn-info">
        Buscar personas
    </button>
</form>

<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPlantilla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHospital)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPlantilla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHospital)
            </td>
            <td>

            </td>
        </tr>
}
    </tbody>
</table>
