@model IEnumerable<ProyectoDatosEF.Models.Plantilla>

@{
    List<string> funciones = ViewData["FUNCIONES"] as List<string>;
}

@{
    ViewData["Title"] = "BuscarPlantillaFuncion";
}

<h1>Buscar Plantilla Funcion</h1>

<form method="post">
    <label>Seleccione una función: </label>
    <select name="funcion" class="form-control">
        @foreach (string funcion in funciones)
        {
            <option value="@funcion">@funcion</option>
        }
    </select>
    <button class="btn btn-info">
        Buscar personas
    </button>
</form>

<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHospital)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHospital)
            </td>
        </tr>
}
    </tbody>
</table>
