@model ProyectoDatosEF.Models.Plantilla

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Plantilla</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPlantilla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPlantilla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Turno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Turno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHospital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHospital)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
